html
    head
        script(src='static/index.js') 
    body
        h1 WoL admin interface

        if computers == []
            h1 There are no computers added in the database
        else
            table
                for computer in computers
                    tr
                        td= computer.name
                        td= computer.mac
                        td= computer.ip
                        td(id=computer.ip) Unknown status
                        if computer.mac != ''
                            td: button(onclick='sendWolRequest(' + '\'' + computer.mac + '\'' + ')') Send WoL
                        td: button(onclick='remove(' + '\'' + computer.name + '\', ' + '\'' + computer.mac +'\')') Remove
        hr
        h1 Add a new computer

        form(action="/add", method="post")
            label(for="name") Name
            input(type="text", name="name")
            label(for="mac") MAC Address
            input(type="text", name="mac")
            label(for="ip") IP Address or hostname
            input(type="text", name="ip")
            input(type="submit", value="Submit")

        hr
        
        a(href="/") Noadmin interface
        br
        a(href="https://github.com/0xclockwise/wol-interface") GitHub Repository
