html
    head
        script(src='static/index.js') 
    body
        h1 WoL interface

        if computers == []
            h1 There are no computers added in the database
        else
            table
                for computer in computers
                    tr
                        td= computer.name
                        td= computer.mac
                        td: button(onclick='sendWolRequest(' + '\'' + computer.mac + '\'' + ')') Send WoL
                        td: button(onclick='remove(' + '\'' + computer.name + '\', ' + '\'' + computer.mac +'\')') Remove
        hr
        h1 Add a new computer

        form(action="/add", method="post")
            label(for="name") Name
            input(type="text", name="name")
            label(for="mac") MAC Address
            input(type="text", name="mac")
            input(type="submit", value="Submit")
