html
    head
        script(src='static/index.js') 
    body
        h1 WoL interface

        if computers == []
            h1 There are no computers added in the database
        else
            table
                for computer in computers
                    tr
                        td= computer.name
                        td(id=computer.ip class='status') Unknown status
                        if computer.mac != ''
                            td: button(onclick='sendWolRequest(' + '\'' + computer.mac + '\'' + ')') Send WoL
        button(id='reping' onclick='ping()') Refresh status